[submodule "pkg/natstrace"]
	path = pkg/natstrace
	url = https://github.com/Marz32onE/natstrace.git
[submodule "pkg/mongodbtrace"]
	path = pkg/mongodbtrace
	url = https://github.com/Marz32onE/mongodbtrace.git
[submodule "pkg/otelwebsocket"]
	path = pkg/otelwebsocket
	url = https://github.com/Marz32onE/otelwebsocket.git
	branch = copilot/add-otlp-trace-propagation
